.services-boxes {
  display: flex;
  gap: 40px;
  padding: 40px 0;
  justify-content: space-between;
}

.box {
  background: var(--background-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 100px;
  text-align: left;
  width: 350px;
  gap: 10px;
  box-shadow: 3px 3px 5px 1px var(--button-color);
}

.box p {
  color: var(--text-color);
  font-weight: lighter;
}
